In [1]:
import numpy as np
import pandas as pd

from pycaret.regression import *
from sklearn.model_selection import train_test_split

# preparaing datasets

In [2]:
df = pd.read_csv('inputs/USDJPY_M15.csv', sep='\t', names=['date', 'time', 'open', 'high', 'low', 'close', 'vol1', 'vol2', 'spread'], header=0)
df['datetime'] = df['date'] + ' ' + df['time']
df = df.drop(['date', 'time', 'vol1', 'vol2', 'spread'], axis=1)
df['time'] = pd.to_datetime(df['datetime'])
df['month'] = [i.month for i in df['time']]
df['year'] = [i.year for i in df['time']]
df['hour'] = [i.hour for i in df['time']]
df['minute'] = [i.minute for i in df['time']]
df['dayofweek'] = [i.dayofweek for i in df['time']]
# for i in range(1, 13):
#     df['diff%s'%i] = df['high'].shift(i)

df = df.drop(['datetime', 'time'], axis=1)
df

,open,high,low,close,month,year,hour,minute,dayofweek
0,107.547,107.567,107.455,107.518,4,2020,0,0,2
1,107.520,107.545,107.469,107.540,4,2020,0,15,2
2,107.540,107.544,107.476,107.492,4,2020,0,30,2
3,107.492,107.519,107.465,107.481,4,2020,0,45,2
4,107.481,107.549,107.481,107.547,4,2020,1,0,2
...,...,...,...,...,...,...,...,...,...
26874,108.814,108.846,108.808,108.845,4,2021,6,15,4
26875,108.845,108.859,108.831,108.846,4,2021,6,30,4
26876,108.846,108.852,108.827,108.829,4,2021,6,45,4
26877,108.829,108.851,108.822,108.827,4,2021,7,0,4
26878,108.827,108.831,108.821,108.830,4,2021,7,15,4

In [3]:
df['y'] = df['high'].shift(-1)
df = df[:-1]
df

,open,high,low,close,month,year,hour,minute,dayofweek,y
0,107.547,107.567,107.455,107.518,4,2020,0,0,2,107.545
1,107.520,107.545,107.469,107.540,4,2020,0,15,2,107.544
2,107.540,107.544,107.476,107.492,4,2020,0,30,2,107.519
3,107.492,107.519,107.465,107.481,4,2020,0,45,2,107.549
4,107.481,107.549,107.481,107.547,4,2020,1,0,2,107.549
...,...,...,...,...,...,...,...,...,...,...
26873,108.779,108.819,108.769,108.814,4,2021,6,0,4,108.846
26874,108.814,108.846,108.808,108.845,4,2021,6,15,4,108.859
26875,108.845,108.859,108.831,108.846,4,2021,6,30,4,108.852
26876,108.846,108.852,108.827,108.829,4,2021,6,45,4,108.851
26877,108.829,108.851,108.822,108.827,4,2021,7,0,4,108.831

# feature engineering

In [4]:
# df['sma5'] = df['high'].rolling(5).mean()
# df['sma15'] = df['high'].rolling(15).mean()
df = df[20:]
df.head(20)

,open,high,low,close,month,year,hour,minute,dayofweek,y,sma5,sma15
20,107.710,107.936,107.668,107.861,4,2020,5,0,2,107.899,107.7180,107.630133
21,107.861,107.899,107.746,107.787,4,2020,5,15,2,107.835,107.7872,107.644600
22,107.791,107.835,107.733,107.778,4,2020,5,30,2,107.785,107.8246,107.649600
23,107.778,107.785,107.691,107.692,4,2020,5,45,2,107.707,107.8352,107.651467
24,107.691,107.707,107.629,107.681,4,2020,6,0,2,107.739,107.8324,107.653867
25,107.681,107.739,107.641,107.703,4,2020,6,15,2,107.840,107.7930,107.669867
26,107.701,107.840,107.659,107.790,4,2020,6,30,2,107.821,107.7812,107.688467
27,107.791,107.821,107.756,107.792,4,2020,6,45,2,107.827,107.7784,107.708467
28,107.793,107.827,107.757,107.779,4,2020,7,0,2,107.817,107.7868,107.736800
29,107.779,107.817,107.730,107.732,4,2020,7,15,2,107.772,107.8088,107.762800
30,107.732,107.772,107.705,107.719,4,2020,7,30,2,107.772,107.8154,107.775467
31,107.719,107.772,107.702,107.757,4,2020,7,45,2,107.812,107.8018,107.790067
32,107.757,107.812,107.707,107.717,4,2020,8,0,2,107.760,107.8000,107.801000
33,107.717,107.760,107.581,107.611,4,2020,8,15,2,107.615,107.7866,107.802867
34,107.610,107.615,107.465,107.487,4,2020,8,30,2,107.497,107.7462,107.795800
35,107.487,107.497,107.319,107.375,4,2020,8,45,2,107.412,107.6912,107.766533
36,107.374,107.412,107.280,107.366,4,2020,9,0,2,107.485,107.6192,107.734067
37,107.366,107.485,107.313,107.475,4,2020,9,15,2,107.554,107.5538,107.710733
38,107.477,107.554,107.370,107.534,4,2020,9,30,2,107.596,107.5126,107.695333
39,107.534,107.596,107.463,107.573,4,2020,9,45,2,107.696,107.5088,107.687933

In [5]:
df.isnull().sum()

open         0
high         0
low          0
close        0
month        0
year         0
hour         0
minute       0
dayofweek    0
y            0
sma5         0
sma15        0
dtype: int64

In [6]:
train, test = train_test_split(df)

In [7]:
s = setup(data=train, test_data=test, target='y', normalize=True, fold_strategy='timeseries', numeric_features=['year', 'month', 'hour', 'minute'], fold=3, silent=True)

AttributeError: 'Simple_Imputer' object has no attribute 'fill_value_categorical'

In [ ]:
best = compare_models(sort = 'MAE')

In [ ]:
prediction_holdout = predict_model(best);

In [ ]:
# generate predictions on the original dataset
predictions = predict_model(best, data=df)

In [ ]:
predictions

In [ ]:
tuned_model = tune_model(best)

In [ ]:
bagged_model = ensemble_model(tuned_model)

In [ ]:
boosted_model = ensemble_model(tuned_model, method = 'Boosting')

In [ ]:
top3 = compare_models(n_select = 3)

In [ ]:
blender_top3 = blend_models(top3)